@import "~styles/__mixins.scss";
@import "~styles/__variables.scss";

$halfAppWidth: $appWidth / 2;

.wrapper {
  overflow-x: hidden;
  // todo: проверить, что в других целевых браузерах стрелочки тоже скрываются
  transform: translateZ(0);

  &:hover {
    .left {
      transform: translateX(calc(-#{$halfAppWidth} + 100%)) translateY(-50%);
    }

    .right {
      transform: translateX(calc(#{$halfAppWidth} - 100%)) translateY(-50%);
    }
  }
}

.slideShow {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  // todo: height: 90vh - это только для модалки, сделать слайд шоу независимым от модалки
  height: $modalHeight;
  overflow-x: hidden;
  overflow-y: auto;

  &.isOverflow {
    align-items: flex-start;
  }

  @include scrollbar();
}

.itemsWrapper {
  display: flex;
  align-items: center;

  transform: translateX(var(--slide-show-transform-translate-x));

  transition: transform ease 0.15s 0s;

  will-change: transform;
}

.item {
  flex-shrink: 0;
  width: 100%;
  height: 0;
  overflow: hidden;

  &.isActive {
    height: auto;
  }
}

// позиционируем элементы ровно посередине
.left,
.right {
  $transition: transform ease 0.15s 0s;

  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 15px;

  color: #fff;

  border: 1px #111 solid;
  border-radius: 50%;

  will-change: opacity, transform;

  @include hover-default($transition);
}

// двигаем элементы по горизонтали на 250px
// 250px - это половина ширины контейнера приложения

.left {
  transform: translateX(calc(-#{$halfAppWidth} - 100%)) translateY(-50%);
}

.right {
  transform: translateX(calc(#{$halfAppWidth} + 100%)) translateY(-50%);
}
