@import "~styles/__mixins.scss";

.wrapper {
  &:hover {
    .left {
      transform: translateX(15px);
    }

    .right {
      transform: translateX(-15px);
    }
  }
}

.slideShow {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 90vh; // todo: это только для модалки, сделать слайд шоу независимым от модалки
  overflow-x: hidden;
  overflow-y: auto;

  transform: translate3d(0, 0, 0);

  &.isOverflow {
    align-items: flex-start;
  }

  @include scrollbar();
}

.itemsWrapper {
  display: flex;
  align-items: center;

  transform: translateX(var(--slide-show-transform-translate-x));

  transition: transform ease 0.15s 0s;

  will-change: transform;
}

.item {
  flex-shrink: 0;
  width: 100%;
  height: 0;
  overflow: hidden;

  &.isActive {
    height: auto;
  }
}

.toolbar {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 500px;
  margin: auto;
  overflow: hidden;

  transform: translateY(-50%);
}

.left,
.right {
  $transition: transform ease 0.15s 0s;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 15px;

  color: #fff;

  border: 1px #111 solid;
  border-radius: 50%;
  transform: translateX(calc(-100% - 15px));

  will-change: opacity, transform;

  @include hover-default($transition);
}

.right {
  margin-left: auto;

  transform: translateX(calc(100% + 15px));
}
