@use "styles/__variables" as vars;
@use "styles/__mixins" as mixins;

.GoToWithArrows {
  display: flex;
  align-items: center;
  justify-content: center;

  &.isHide {
    display: none;
  }
}

.PageNumber {
  margin-left: auto;
  padding: 0 12px;
}

.GoToWithInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: clamp(120px, 9vw, 160px); // 140px;
  height: clamp(22px, 23px, 26px); // 23px;

  font-size: vars.$fs-14;

  background: var(--main);
  border-radius: clamp(12px, 1.5vw, 24px); // 20px;

  &.isHide {
    display: none;
  }
}

.WrapperInput {
  align-items: center;
  justify-content: center;
  width: clamp(44px, 52px, 64px); // 52px;
  height: clamp(20px, 21px, 24px); // 21px;

  margin-left: 1px;

  color: var(--secondary);

  background: var(--bg);
  border-radius: clamp(12px, 1.5vw, 24px); // 20px;

  &.hasError {
    border: 1px red solid;
  }
}

.Input {
  width: 100%;

  color: inherit;
  line-height: normal;
  text-align: center;

  background: none;
  outline: none;
}

.Button {
  padding-left: 13px;

  color: #fff;

  background-color: inherit;

  @include mixins.hover-default;
}
