@use "styles/__variables" as variables;
@use "styles/__mixins" as mixins;

.link {
  display: inline;

  color: #09f;

  opacity: 0.85;

  transition: text-shadow variables.$transitionDefault;

  &:hover {
    cursor: pointer;

    @include mixins.text-shadow-default;
  }
}
