@import "~styles/__mixins";
@import "~styles/__variables";

@keyframes :global(welcomeTourHighLightAnim) {
  0%, 100% {
    background-color: transparent;
  }

  50% {
    background-color: yellow;
  }
}

:global {
  .welcomeTourHighLight {
    position: relative;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: calc(100% + 15px);
      height: calc(100% + 15px);

      border: 2px deepskyblue dashed;
      transform: translate(-50%, -50%);

      animation: welcomeTourHighLightAnim 0.3s 10 linear;
    }
  }
}
