:global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font: inherit;
    font-size: 100%;

    background: inherit;
    border: 0;
    outline: 0;
    -webkit-text-size-adjust: none;
  }

  html {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    min-height: 100%;

    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 22px;

    user-select: none;
  }

  #root {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  img,
  video,
  audio {
    width: 100%;
    max-width: 100%;

    vertical-align: top;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }

  *:focus {
    outline: none;
    box-shadow: none;
  }
}
