@use "styles/__variables" as variables;

.Wrapper {
  width: 100%;
  padding: 0 20px;
}

.Toolbar {
  z-index: 10;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: variables.$appWidth;
  height: 48px;
  margin-top: 20px;

  color: var(--secondary);
  font-size: 16px;

  background: transparent;
}

.FontSizeControlWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
}
