.Wrapper {
  margin-top: clamp(32px, 4.5vh, 64px); // 50px;
  padding: clamp(14px, 1.8vw, 24px); // 20px;

  border: 1px var(--main) solid;
  border-radius: 10px;
}

.Card {
  margin-bottom: clamp(32px, 4.5vh, 64px); // 50px;
  padding: 10px;

  border-bottom: 1px #eaeaea solid;
}

.CardHeader {
  font-weight: bold;
}

.CardButton {
  margin-top: clamp(18px, 1.8vw, 24px); // 22px;
}

.SkipButton {
  margin-top: clamp(18px, 1.8vw, 24px); // 22px;
  margin-left: 10px;
}

.ActionWrapper {
  margin-top: clamp(32px, 4.5vh, 64px); // 50px;
  margin-bottom: clamp(32px, 4.5vh, 64px); // 50px;
}
