.item {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 24px;
  margin-left: auto;

  cursor: pointer;

  &:nth-child(1) {
    margin-left: 0;
  }

  svg {
    transition: 0.3s 0s ease fill;

    will-change: fill;
    fill: currentColor;
  }

  &:hover {
    > svg {
      fill: var(--hover);
    }
  }
}
