@use "styles/__mixins" as mixins;
@use "styles/__variables" as variables;

.action {
  display: inline;

  color: #fd0006;
  font-size: 1em; // 16
  font-weight: bold;

  opacity: 0.85;

  transition: text-shadow variables.$transitionDefault;

  &:hover {
    cursor: pointer;

    @include mixins.text-shadow-default;
  }

  &.isFullWidth {
    display: block;
    width: 100%;

    text-align: center;
  }
}
