.TrackWrapper {
  display: flex;
  width: 150px;
  height: 18px;
}

.Track {
  align-self: center;
  width: 100%;
  height: 5px;

  border-radius: 4px;
}

.Thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  background-color: var(--main);
  border-radius: 50%;
}
