@use "styles/__mixins" as mixins;

.Spoiler {
  font-weight: 100;
}

.Button {
  width: 100%;
  padding: 2px 2px 2px clamp(10px, 0.8vw, 18px); // 15px;

  font-size: clamp(12px, 1.5vw, 24px); // 20px;

  border: 1px #c3cbd1 solid;
  border-radius: 4px;

  @include mixins.hover-default;
}

.Content {
  height: 0;
  margin-top: 10px;
  overflow: hidden;

  @include mixins.transition-default(height);
}
