@use "styles/__variables" as vars;
@use "styles/__mixins" as mixins;

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: clamp(48px, 7vh, 96px); // 77px;
  margin-bottom: clamp(16px, 2.5vh, 32px); // 26px;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(160px, 15.65vw, 280px); // 240px;
  height: clamp(36px, 6vh, 52px); // 45px;
  margin-top: 13px;

  color: #fff;
  font-size: vars.$fs-14;
  font-weight: 100;

  border-radius: clamp(18px, 2.5vh, 30px); // 25px;
  cursor: pointer;

  &:nth-child(1) {
    margin-top: 0;
  }

  &.isTableOfContents,
  &.isAchievementsProgress {
    background: var(--main);
  }

  &.isClose {
    background: #828282;
  }

  @include mixins.hover-default;
}
